<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="./events/plugins.js"></script>
</head>

<body>

    <form action="/{{identityUsuario}}" method="POST">

        {{#ifEquals plantilla "Aviso"}}

            <div id="page4">
                <div class="container"><canvas id="background"></canvas></div>
                <div class="test-container-fit">
                    <p>
                        <span class="feel3">{{titulo}} {{nombre}}!</span>
                    </p>
                    <p class="text1">{{subTitulo}}</p>
                    <hr/>
                    
                    {{#interpretaHtml}}
                    <p class="text1">{{parrafoUno}}</p>
                    {{/interpretaHtml}}

                    {{#interpretaHtml}}
                    <p class="text2">{{parrafoDos}}</p>
                    {{/interpretaHtml}}

                    {{#interpretaHtml}}
                    {{parrafoTres}}
                    {{/interpretaHtml}}

                    <div class="hash">
                        {{#interpretaHtml}}
                        {{piePagina}}
                        {{/interpretaHtml}}
                    </div>
                    <div class="image-container"><img class="logo" src="{{imagenUno}}"></div>
                </div>
            </div>
        {{/ifEquals}}

        {{#ifEquals plantilla "SinComunicado"}}
            <div id="page4">
                <div class="container"><canvas id="background"></canvas></div>
                <div>
                    <div id="borderDemo">
                    <h1 style="text-align: center;"><span style="color: #ff6600;"><strong>No tienes mas comunicados</strong></span></h1>
                    </div>
                </div>
                <div class="card-list">
            </div>
            </div>
        {{/ifEquals}}

    </form>

</body>

</html>