<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="./events/plugins.js"></script>
</head>

<body>

<div class="box">
    <form action="/{{identityUsuario}}" method="POST">

        {{#ifEquals plantilla "Aviso"}}
            <div id="page4">
                <div class="container"><canvas id="background"></canvas></div>
                <div class="test-container-fit">
                    <p class="hello-container">
                        <span class="feel3">{{titulo}} {{nombre}}!</span>
                    </p>
                    <p class="text1">{{subTitulo}}</p>
                    <hr/>
                    
                    {{#interpretaHtml}}
                    <p class="text1">{{parrafoUno}}</p>
                    {{/interpretaHtml}}

                    {{#interpretaHtml}}
                    <p class="text2">{{parrafoDos}}</p>
                    {{/interpretaHtml}}

                    {{#interpretaHtml}}
                    {{parrafoTres}}
                    {{/interpretaHtml}}

                    <div class="hash">
                        {{#interpretaHtml}}
                        {{piePagina}}
                        {{/interpretaHtml}}
                    </div>
                    <div class="image-container"><img class="logo" src="{{imagenUno}}"></div>
                </div>
            </div>
        {{/ifEquals}}

{{!-- ORIGINAL --}}
        {{!-- {{#ifEquals plantilla "Noticia"}}
            <div id="LayoutNoticia">
                <div class="container"><canvas id="background"></canvas></div>
                <div class="container-layout">
                    <p class="hello-container">
                        <span class="hello">Hi, {{nombre}}!</span>
                    </p>
                    <hr/>
                    <div class="image-title-container">
                        <div class="image-container">
                            <img class="noticia__image-1" src="{{imagenUno}}">
                        </div>
                        <div class="noticia__title-container">
                            <p class="noticia__title">{{titulo}}</p>
                        </div>
                    </div>
                    
                    {{#interpretaHtml}}
                    <p class="noticia__subtitle">{{subTitulo}}</p>
                    {{/interpretaHtml}}

                    {{#interpretaHtml}}
                    <p class="noticia__text1">{{parrafoUno}}</p>
                    {{/interpretaHtml}}

                    {{#interpretaHtml}}
                    {{parrafoTres}}
                    {{/interpretaHtml}}

                    <hr/>
                    <div class="logo-container">
                        <img id="logoSchryver" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/schryver.png">
                        <img id="logoExikahan" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/logoExikhan-2.png">
                    </div>
                </div>
            </div>
        {{/ifEquals}} --}}


{{!-- TEST --}}
        {{#ifEquals plantilla "Noticia"}}
            <div id="LayoutNoticia">
                <div class="container"><canvas id="background"></canvas></div>
                <div class="container-layout">
                    <header class="main-header">
                        <p class="hello-container">
                            <span class="hello">Hi, {{nombre}}!</span>
                        </p>
                        {{!-- <hr/> --}}
                    </header>
                    <main>
                        <div class="info-container">
                            <div class="image-title-container">
                                <div class="image-container">
                                    <img class="noticia__image-1" src="{{imagenUno}}">
                                </div>
                                <div class="noticia__title-container">
                                    <p class="noticia__title">{{titulo}}</p>
                                </div>
                            </div>
                            
                            {{#interpretaHtml}}
                            <p class="noticia__subtitle">{{subTitulo}}</p>
                            {{/interpretaHtml}}

                            {{#interpretaHtml}}
                            <p class="noticia__text1">{{parrafoUno}}</p>
                            {{/interpretaHtml}}

                            {{#interpretaHtml}}
                            <p class="text2">{{parrafoDos}}</p>
                            {{/interpretaHtml}}
                        </div>
                    </main>
                    <footer class="main-footer">
                        <nav>
                            <div class="main-footer__logos">
                                <img class="main-footer__logo" id="logoSchryver" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/schryver.png">
                                <img class="main-footer__logo" id="logoFrettes" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/frettes+logo.png">
                                <img class="main-footer__logo" id="logoExikhan" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/logoExikhan-2.png">
                            </div>
                        </nav>
                    </footer>
                </div>
            </div>
        {{/ifEquals}}

        {{#ifEquals plantilla "Pre-publicacion"}}
            <div id="layoutPre-publicacion">
                <div class="container"><canvas id="background"></canvas></div>
                <div class="container-layout">
                    <header class="main-header">
                        <p class="hello-container">
                            <span class="hello">Hi, {{nombre}}!</span>
                        </p>
                    </header>

                    <p class="pre-publicacion__title">{{titulo}}</p>
                    
                    {{#interpretaHtml}}
                    <p class="pre-publicacion__subtitle">{{subTitulo}}</p>
                    {{/interpretaHtml}}

                    {{#interpretaHtml}}
                    <div><h2>New<img class="icon-new" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/brillar.png"></h2></div>
                    <p class="pre-publicacion__text1-new">{{parrafoUno}}</p>
                    {{/interpretaHtml}}
                    {{!-- <div>Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
                    Iconos diseñados por <a href="https://www.flaticon.es/autores/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a> --}}

                    {{#interpretaHtml}}
                    <h2>Bug Fixes<img class="icon-bug" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/gusano.png"></h2>
                    <p class="pre-publicacion__text2-bugFixes">{{parrafoDos}}</p>
                    {{/interpretaHtml}}

                    {{#interpretaHtml}}
                    {{parrafoTres}}
                    {{/interpretaHtml}}

                    <footer class="main-footer">
                        <nav>
                            <div class="main-footer__logos">
                                <img class="main-footer__logo" id="logoExikhan" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/logoExikhan-3.png">
                            </div>
                        </nav>
                    </footer>
                </div>
            </div>
        {{/ifEquals}}

        {{#ifEquals plantilla "Post-publicacion"}}
            <div id="layoutPost-publicacion">
                <div class="container"><canvas id="background"></canvas></div>
                <div class="container-layout">
                    <header class="main-header">
                        <p class="hello-container">
                            <span class="hello">Hi, {{nombre}}!</span>
                        </p>
                    </header>
                    
                    <div class="post-publicacion__title-container">
                        <p class="post-publicacion__title">{{titulo}}<img class="icon-new" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/galleta.png"></p>
                        {{!-- Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a> --}}
                    </div>
                    
                    {{#interpretaHtml}}
                    <p class="post-publicacion__subtitle">{{subTitulo}}</p>
                    {{/interpretaHtml}}

                    {{#interpretaHtml}}
                    <p class="post-publicacion__text1">{{parrafoUno}}</p>
                    {{/interpretaHtml}}

                    <div class="image-container">
                        <img class="noticia__image-1" src="{{imagenUno}}">
                    </div>

                    <footer class="main-footer">
                        <nav>
                            <div class="main-footer__logos">
                                <img class="main-footer__logo" id="logoExikhan" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/logoExikhan-3.png">
                            </div>
                        </nav>
                    </footer>
                </div>
            </div>
        {{/ifEquals}}

        {{#ifEquals plantilla "SinComunicado"}}
            <div id="page4">
                <div class="container"><canvas id="background"></canvas></div>
                <header class="main-header">
                    <p class="hello-container">
                        <span class="hello">Hi, {{nombre}}!</span>
                    </p>
                </header>
                <div>
                    <div id="borderDemo">
                    <h1 style="text-align: center;"><span style="color: #ff6600;"><strong>No tienes mas comunicados</strong></span></h1>
                    </div>
                </div>
                <div class="card-list"></div>
                <footer class="main-footer">
                    <nav>
                        <div class="main-footer__logos">
                            <img class="main-footer__logo" id="logoExikhan" src="https://web-comunicado-node.s3-us-west-2.amazonaws.com/public/img/logoExikhan-3.png">
                        </div>
                    </nav>
                </footer>
            </div>
        {{/ifEquals}}

    </form>
</div>
</body>

</html>