@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    /* z-index: 1; */
    background-color: white;
}

p {
    width: fit-content;
}

#background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
    width: 100%;
    height: 100%;
}

.main-header {
    width: 100%;
    max-width: 800px;
    position: fixed;
    top: 0;
    left: 0;
    /*background: rgba(165, 3, 63, 0.902);*/
    background: white;
    padding: 0 2.5rem;
    padding-top: 0;
    border-bottom: 1px solid #ccc;
    z-index: 100;
}

.hello-container {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.hello {
    font-size: 1.3rem;
    font-style: normal;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0;
}

.info-container {
    margin: 3rem 0 5rem 0;
    max-height: 470px;
    height: 465px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-title-container {
    position: relative;
    /* max-width: ; */
}

.image-container {
    width: 50%;
    display: inline-block;
    text-align: right;

    /* changes to vertical images */
    max-width: 350px;
    max-height: 470px;
    /* height: 470px; */
}


/*  Layout Noticia  */
.noticia__image-1 {
    /* height: 100%; */
    width: 100%;
    object-fit: contain;
}

.noticia__title {
    z-index: 50;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 500;
    /* width: fit-content; */
    max-width: 410px;
    width: 40%;
    display: inline-block;
    margin: 0;
    right: 0;
    bottom: 10%;
    background: #ff3700;
    color: white;
    padding: 1.5rem;
    margin-right: 4rem;
}

.noticia__subtitle {
    font-weight: bold;
    font-size: 0.9rem;
}

.container-layout {
    width: fit-content;
    /* max-width: 800px;
    max-height: 600px; */
    margin: 0 2.5rem;
}

.container {
    width: 100%;
    height: 100%;
}

.hashtags {
    text-align: left;
    line-height: 20px;
    color: #016eb8;
    font-weight: 100;
    font-size: 13px;
    display: inline-block;
    width: 45%;
}

.noticia__text1 {
    padding: 0;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.4rem;
}

.text2 {
    font-weight: lighter;
    font-size: 0.7rem;
    text-align: left;
}

.main-footer__logos {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

#logoSchryver {
    max-width: 100%;
    height: auto;
    width: 80px;
    /* vertical-align: middle; */
    text-align: center;
    padding: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1.5rem;
}

#logoExikhan {
    max-width: 100%;
    height: auto;
    width: 30px;
    /* vertical-align: middle; */
    text-align: center;
    padding: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2.5rem;
}

#logoFrettes {
    max-width: 100%;
    height: auto;
    width: 90px;
    /* vertical-align: middle; */
    text-align: center;
    padding: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1.5rem;
}

.thanks {
    font-size: 40px;
    margin: 20px 0px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}



/*  Layout Pre-publicacion  */
.pre-publicacion__title {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.pre-publicacion__subtitle {
    line-height: 1.3rem;
    font-weight: 600;
    font-size: 0.9rem;
}

#LayoutPre-publicacion h2 {
    font-size: 1.5rem;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.pre-publicacion__text1 {
    line-height: 1.5rem;
    font-size: 0.9rem;
}

ul {
    font-size: 0.9rem;
}

.icon-new,
.icon-bug {
    width: 2.5rem;
    display: inline-block;
    padding-left: 0.5rem;
    vertical-align: middle;
    padding-bottom: 0.5rem;
}

.icon-cookie {
    width: 2rem;
    display: inline-block;
    padding-left: 0.5rem;
    vertical-align: middle;
    padding-bottom: 0.5rem;
}

#layoutPre-publicacion #logoExikahan {
    width: 120px;
}

.post-publicacion__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.post-publicacion__subtitle {
    font-size: 0.8rem;
}

#layoutPost-publicacion .image-container {
    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#layoutPost-publicacion #logoExikahan {
    width: 120px;
}


/* #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
} */


/* ::-webkit-scrollbar {
    width: 0.1px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: tomato;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: orangered;
} */

.main-footer {
    width: 100%;
    max-width: 795px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    background: white;
    padding: 5px;
    margin-bottom: 0;
    border-top: 1px solid #ccc;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-footer__logos {
    margin: 0;
    padding: 0;
    
}

.main-footer__logo {
    margin: 0;
}

.box {
    height: 595px;
    width: 795px;
    border: 1px solid grey;

    display: flex;
}