@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    /* z-index: 1; */
    background-color: white;
}

p {
    width: fit-content;
}

#background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
    width: 100%;
    height: 100%;
}

.hello-container {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.hello {
    font-size: 1rem;
    font-style: normal;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0;
}

.image-title-container {
    position: relative;
    max-width: ;
}

.image-container {
    /* background: #016eb8; */
    width: 50%;
    display: inline-block;
    text-align: right;
}

.noticia__image-1 {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.noticia__title {
    z-index: 100;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 500;
    /* width: fit-content; */
    max-width: 410px;
    width: 40%;
    display: inline-block;
    margin: 0;
    right: 0;
    bottom: 10%;
    background: #ff3700;
    color: white;
    padding: 1.5rem;
    margin-right: 4rem;
}

.noticia__subtitle {
    font-weight: bold;
    font-size: 0.7rem;
}

.container-layout {
    width: fit-content;
    margin: 0 39px;
}

.container {
    width: 100%;
    height: 100%;
}

.hashtags {
    text-align: left;
    line-height: 20px;
    color: #016eb8;
    font-weight: 100;
    font-size: 13px;
    display: inline-block;
    width: 45%;
}

.noticia__text1 {
    padding: 0;
    font-size: 0.7rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.4rem;
}

.text2 {
    font-weight: lighter;
    font-size: 0.7rem;
    text-align: left;
}

.logo-container {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

#logoSchryver {
    max-width: 100%;
    height: auto;
    width: 80px;
    /* vertical-align: middle; */
    text-align: center;
    padding: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#logoExikahan {
    max-width: 100%;
    height: auto;
    width: 30px;
    /* vertical-align: middle; */
    text-align: center;
    padding: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
}

.thanks {
    font-size: 40px;
    margin: 20px 0px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.pre-publicacion__title {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.pre-publicacion__subtitle {
    line-height: 1.3rem;
    font-weight: 600;
    font-size: 0.9rem;
}

#LayoutPre-publicacion h2 {
    font-size: 1.5rem;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.pre-publicacion__text1 {
    line-height: 1.5rem;
    font-size: 0.9rem;
}

ul {
    font-size: 0.9rem;
}

.icon-new,
.icon-bug {
    width: 2.5rem;
    display: inline-block;
    padding-left: 0.5rem;
    vertical-align: middle;
    padding-bottom: 0.5rem;
}

.icon-cookie {
    width: 2rem;
    display: inline-block;
    padding-left: 0.5rem;
    vertical-align: middle;
    padding-bottom: 0.5rem;
}

#layoutPre-publicacion #logoExikahan {
    width: 120px;
}

.post-publicacion__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.post-publicacion__subtitle {
    font-size: 0.8rem;
}

#layoutPost-publicacion .image-container {
    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#layoutPost-publicacion #logoExikahan {
    width: 120px;
}


/* #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
} */


/* ::-webkit-scrollbar {
    width: 0.1px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: tomato;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: orangered;
} */


/* .box {
    height: 550px;
    width: 800px;
    background: grey;
} */