@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,900&display=swap');
body {
    /* font-family: 'Raleway', sans-serif; */
    margin: 0;
    z-index: 1;
    background-color: white;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    width: fit-content;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.test-container-fit {
    width: fit-content;
    margin: 0 39px;
    font-family: 'Raleway', sans-serif;
}

button {
    max-width: 400px;
}

p {
    width: fit-content;
}

.question {
    width: 700px;
    padding-left: 20px;
    margin: 3rem auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    line-height: 65px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 200;
}

.container {
    width: 100%;
    height: 100%;
}

#background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.card-list {
    width: 700px;
    margin: 2rem auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
}

.card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    margin: 30px 20px auto 40px;
    background: #fff;
    border-radius: 25px;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 100px 0 0 0;
    -webkit-box-shadow: 0 0 60px -15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 60px -15px rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.colorband {
    height: 2px;
    background-color: #016eb8;
    margin-bottom: 10px;
}

.card h2 {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.card .title {
    padding: 0 1rem 1rem;
    font-size: 0.75em;
    text-align: center;
}

.card .desc {
    padding: 1rem 2rem;
    font-size: 0.9em;
}

.card .actions {
    -webkit-transition: -webkit-box-shadow 300ms ease;
    transition: -webkit-box-shadow 300ms ease;
    -o-transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease, -webkit-box-shadow 300ms ease;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.actions button {
    width: 100%;
    float: left;
    vertical-align: middle;
    background: transparent;
    border: none;
    padding: 1rem;
    font-size: 1em;
    -webkit-transition: background 300ms ease, -webkit-transform 300ms ease;
    transition: background 300ms ease, -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease, background 300ms ease;
    transition: transform 300ms ease, background 300ms ease;
    transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
    outline: none;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.actions button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-image: -o-linear-gradient(left, #43e97b 0%, #38f9d7 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#43e97b), to(#38f9d7));
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    color: #fff;
    border: none;
    z-index: 100;
    border-radius: 25px;
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1)
}

.actions button:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

#card-1 .actions button:hover {
    background-image: -o-linear-gradient(315deg, #5493bd 0%, #016eb8 100%);
    background-image: linear-gradient(135deg, #5493bd 0%, #016eb8 100%);
}

#card-2 .actions button:hover {
    background-image: -o-linear-gradient(315deg, #5493bd 0%, #016eb8 100%);
    background-image: linear-gradient(135deg, #5493bd 0%, #016eb8 100%);
}

#card-3 .actions button:hover {
    background-image: -o-linear-gradient(315deg, #5493bd 0%, #016eb8 100%);
    background-image: linear-gradient(135deg, #5493bd 0%, #016eb8 100%);
}

#card-4 .actions button:hover {
    background-image: -o-linear-gradient(315deg, #5493bd 0%, #016eb8 100%);
    background-image: linear-gradient(135deg, #5493bd 0%, #016eb8 100%);
}

#card-5 .actions button:hover {
    background-image: -o-linear-gradient(315deg, #5493bd 0%, #016eb8 100%);
    background-image: linear-gradient(135deg, #5493bd 0%, #016eb8 100%);
}

.actions button>span {
    display: block;
}

.avatar {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    -o-transition: transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.avatar:hover {
    -webkit-transform: translateX(-50%) scale(1.1);
    -ms-transform: translateX(-50%) scale(1.1);
    transform: translateX(-50%) scale(1.1);
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.message {
    font-family: 'Raleway', sans-serif;
    display: grid;
    padding: 0px 50px;
    vertical-align: middle;
    margin: 0px 180px 80px 180px;
    background: #fff;
    border-radius: 25px;
    max-width: 1200px;
    -webkit-box-shadow: 0 0 60px -15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 60px -15px rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.message:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.go-tms {
    border-radius: 25px;
    float: right;
    vertical-align: middle;
    background: transparent;
    border-color: #016eb8;
    padding: 1rem;
    font-size: 1em;
    -webkit-transition: background 300ms ease, -webkit-transform 300ms ease;
    transition: background 300ms ease, -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease, background 300ms ease;
    transition: transform 300ms ease, background 300ms ease;
    transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
    outline: none;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.actions button:hover {
    background-image: -o-linear-gradient(315deg, #5493bd 0%, #016eb8 100%);
    background-image: linear-gradient(135deg, #5493bd 0%, #016eb8 100%);
}

.hash {
    text-align: left;
    line-height: 20px;
    color: #016eb8;
    font-weight: 100;
    font-size: 13px;
    display: inline-block;
    width: 45%;
}

.schryver {
    color: #016eb8;
    font-size: 17px;
    font-weight: 500;
    padding: 0;
}

.feel {
    font-size: 45px;
}

.feel2 {
    font-size: 45px;
    font-style: italic;
    background-color: teal;
    color: white;
}

.feel3 {
    font-size: 26px;
    font-style: normal;
    color: black;
    /* text-transform: lowercase; */
}

.feel3::first-letter {
    text-transform: uppercase;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.thanks {
    font-size: 40px;
    margin: 20px 0px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.text1 {
    padding: 0;
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
}

.text2 {
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
    font-style: italic;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 120px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.image-container {
    width: 50%;
    display: inline-block;
    /* vertical-align: middle; */
    text-align: right;
    padding: 9px 0;
}

#borderDemo {
    border: 7px outset #1C6EA4;
    border-radius: 40px;
}